<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websocket Drawing Board</title>
    <script src="js/socket.io-1.4.5.js"></script>
    <script src="js/Painter.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>

<div class="tool-box">
    <div class="item">
        <div class="menu">
            <div class="child">200%</div>
            <div class="child">100%</div>
            <div class="child">50%</div>
        </div>
        缩放
    </div>
    <div class="item">
        <div class="menu" id="color-selector">
            <div class="child" id="red">红</div>
            <div class="child" id="green">绿</div>
            <div class="child" id="blue">蓝</div>
            <div class="child" id="black">黑</div>
        </div>
        颜色
    </div>
    <div class="item">
        <div class="menu" id="shape-selector">
            <div class="child" id="path">路径</div>
            <div class="child" id="text">文字</div>
            <div class="child" id="line">直线</div>
            <div class="child" id="rect">矩形</div>
            <div class="child" id="circle">圆形</div>
            <div class="child" id="ellipse">椭圆</div>
        </div>
        画笔
    </div>
    <div class="item">
        <div class="menu">
            <div class="child">粗体</div>
            <div class="child">斜体</div>
            <div class="child">下划线</div>
        </div>
        文字
    </div>
    <div class="item">
        <div class="menu">
            <div class="child">橡皮擦</div>
            <div class="child">删除图形</div>
            <div class="child">清空画布</div>
        </div>
        擦除
    </div>
    <div class="item">
        <div class="menu">
            <div class="child">文件</div>
            <div class="child">剪贴板</div>
            <div class="child">URL</div>
        </div>
        导出
    </div>
</div>

</body>

<script>

    var socket = io.connect(window.location.origin);

    var content = document.getElementById('content');

    var svg = document.getElementById('svg');


    socket.on('connect', function () {
        console.log('Client conneced!Clear board!');
        socket.emit('clear');
    });

    socket.on('clear', function () {
        console.log('这里要清除画布哦');
        painter.clear();
    }, false);

    socket.on('config', function (data) {
        for (x in data) {
            painter[x] = data[x];
        }
    }, false);

    socket.on('draw', function (diff) {
        painter.drawDiff(diff);
    });

    var painter = new Painter('svg');

    // 监听 diff
    painter.onDiff = function (diff) {
        socket.emit('draw', diff);
    };


    var shapeSelector = document.getElementById('shape-selector');
    shapeSelector.addEventListener('click', function (e) {
        if (e.target.className == 'child') {
            painter.shape = e.target.id;
        }
    }, false);

    var colorSelector = document.getElementById('color-selector');
    colorSelector.addEventListener('click', function (e) {
        if (e.target.className == 'child') {
            painter.color = e.target.id;
            socket.emit('config', {color: e.target.id});
        }
    }, false);

</script>

</html>