<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websocket Drawing Board</title>
    <script src="lib/socket.io-1.4.5.js"></script>
    <script src="lib/snap.svg-min.js"></script>
    <script src="lib/Painter.js"></script>
</head>

<body style="margin: 0; padding: 0;">
222
<svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="500" style="margin: 0;"></svg>

</body>

<script>

    var socket = io.connect(window.location.origin);

    var content = document.getElementById('content');

    var svg = document.getElementById('svg');


    socket.on('connect', function () {
        console.log('Client conneced!');
    });

    socket.on('init', function (data) {
        console.log(data);
    });

    socket.on('draw', function (data) {

        if (data.data.action === 'add') {

        } else if (data.data.action === 'modify') {
            var ele = svg.getElementById(data.data.elementId.toString());

            for (var x in data.data.data) {
                ele.setAttribute(x, data.data.data[x])
            }

        }

    });

    var painter = new Painter('svg');

    painter.circle({
        cx: 50,
        cy:50,
        r:50
    });

    painter.ellipse({
        cx: 300,
        cy:80,
        rx:50,
        ry:70
    });

    painter.rect(200, 230, 80, 90);

    painter.line(90, 120, 115, 195);

    painter.text(90, 120, 'hello world');

    console.log(painter);

    painter.setChangeListener(function (diff) {
        socket.emit('draw', {data: diff});
    });

</script>

</html>