<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websocket Drawing Board</title>
    <script src="lib/socket.io-1.4.5.js"></script>
    <script src="lib/snap.svg-min.js"></script>
    <script src="lib/Painter.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>

<div class="tool-box">
    <div class="item">
        <div class="menu">
            <div class="child">200%</div>
            <div class="child">100%</div>
            <div class="child">50%</div>
        </div>
        缩放
    </div>
    <div class="item">
        <div class="menu">
            <div class="child">红</div>
            <div class="child">绿</div>
            <div class="child">蓝</div>
        </div>
        颜色
    </div>
    <div class="item">
        <div class="menu">
            <div class="child">直线</div>
            <div class="child">矩形</div>
            <div class="child">圆形</div>
        </div>
        画笔
    </div>
    <div class="item">
        <div class="menu">
            <div class="child">粗体</div>
            <div class="child">斜体</div>
            <div class="child">下划线</div>
        </div>
        文字
    </div>
    <div class="item">
        导出
    </div>
    <div class="item">清空</div>
</div>

</body>

<script>

    var socket = io.connect(window.location.origin);

    var content = document.getElementById('content');

    var svg = document.getElementById('svg');


    socket.on('connect', function () {
        console.log('Client conneced!');
    });

    socket.on('init', function (data) {
        console.log(data);
    });

    socket.on('draw', function (data) {

        if (data.data.action === 'add') {

            console.log(data);

            var shape = document.createElementNS('http://www.w3.org/2000/svg', data.data.data.tagName);
            shape.id = data.data.elementId;

            for (var i in data.data.data.attributes) {

                if (i === 'innerHTML') {
                    shape.innerHTML = data.data.data.attributes[i];
                } else {
                    shape.setAttribute(i, data.data.data.attributes[i]);
                }
            }

            shape.setAttribute('fill', 'red');

            svg.appendChild(shape);

            painter.elements.push(shape);

        } else if (data.data.action === 'modify') {

            console.log(data);


            var ele = svg.getElementById(data.data.elementId.toString());

            for (var x in data.data.data) {
                ele.setAttribute(x, data.data.data[x])
            }


        }

    });

    var painter = new Painter('svg');

    painter.circle({
        cx: 50,
        cy:50,
        r:50
    });

    painter.ellipse({
        cx: 300,
        cy:80,
        rx:50,
        ry:70
    });

    painter.rect(200, 230, 80, 90);

    painter.line(90, 120, 115, 195);

    painter.text(90, 120, 'hello world');

    console.log(painter);

    painter.setChangeListener(function (diff) {
        socket.emit('draw', {data: diff});
    });

</script>

</html>